<div class="restaurant-cards-container"> <!-- Note the 's' after 'cards' -->
  <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="View Menu" icon="pi pi-check" (onClick)="switchMenuVisibility()"></p-button>
      <p-button label="Book A Table" icon="pi pi-times" (onClick)="restaurant && (restaurant.id)"></p-button>
    </ng-template>
  </p-card>
</div>
<div class="menu-items-container" *ngIf="menuVisible">
  <div class="menu-item-card" *ngFor="let item of menuItems">
<!--    <img [src]="item.imageUrl" alt="{{item.name}}">-->
    <div class="content">
      <div class="title">{{ item.name }}</div>
      <div class="price">{{ item.price }} Lei</div>
    </div>
  </div>
</div>

