/*.restaurant-card {*/
/*  flex: 0 0 100%; !* full width on mobile *!*/
/*  max-width: 100%;*/
/*}*/

/*!* medium screens and up (tablets, small desktops) *!*/
/*@media (min-width: 500px) {*/
/*  .restaurant-card {*/
/*    flex: 0 0 50%; !* two cards per row *!*/
/*    max-width: 50%;*/
/*  }*/
/*}*/

/*!* large screens and up (large desktops, ultrawide screens) *!*/
/*@media (min-width: 1000px) { !* adjust this breakpoint as needed *!*/
/*  .restaurant-card {*/
/*    flex: 0 0 33.333333%; !* three cards per row *!*/
/*    max-width: 33.333333%;*/
/*  }*/
/*}*/

/*.restaurant-cards-container { !* This applies to the container of the cards *!*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  gap: 1rem; !* Adjust the gap to your preference *!*/
/*}*/

.example-card {
  max-width: 400px;
  border-radius: 5%;
  /*padding: 30px 30px 30px 30px;*/
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-header{
  justify-content: center;
}
.mat-img {
  border-radius: 10%;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.left-action {
  margin-right: auto; /* Pushes everything else to the right */
}

.right-action {
  margin-left: auto; /* Pushes everything else to the left */
}
/*.restaurants-container{*/
/*  justify-content: center;*/
/*}*/
