<!-- owned-reservations.component.html -->
<div class="p-grid p-justify-center">
  <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let reservation of reservations">
    <p-card [header]="reservation.restaurantName" styleClass="reservation-card">
      <p class="reservation-date">Date: {{ reservation.reservationDate | date:'fullDate' }}</p>
      <p class="reservation-seats">Seats: {{ reservation.numberOfSeats }}</p>
      <p-footer>
        <button type="button" pButton label="Delete" icon="pi pi-times" class="p-button-danger" (click)="deleteReservation(reservation.id)"></button>
      </p-footer>
    </p-card>
  </div>
</div>
