

/* Add additional styles based on your design preferences */
.table-card{
  border-radius: 7%;
}
.tables-container{
  margin-top: 10px;
  border-radius: 7%;
}
.date-container{
  margin-top: 10px;
  border-radius: 7%;
}
